.entry-form {
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 12px;

  flex-shrink: 0;
}

.entry-form input,
.entry-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: inherit;
  font-size: 25px;
}

/* Bigger body field */
.entry-form textarea {
  min-height: 180px;
  resize: vertical;
}

.entry-form button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.entry-form button:hover {
  background-color: #357abd;
}
