.entry-form {
  /* background-color: white;*/
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px
    light-dark(rgba(0, 0, 0, 0.08), rgba(81, 81, 81, 0.55));
  display: flex;
  flex-direction: column;
  /*   font-size: 25px;
 */
  gap: 12px;
  color: light-dark(#000000, #ffffff);
  width: 100%;
  max-width: 530px;

  /*   flex-shrink: 0;
 */
}

.entry-form input[type="date"] {
  max-width: 220px;
}

.entry-form input,
.entry-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  /*   font-size: 14px;
 */
  font-family: inherit;
  font-size: 1rem;
}

/* Bigger body field */
.entry-form textarea {
  min-height: 180px;
  resize: vertical;
}

.entry-form input[type="button"] {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(
    135deg,
    #008080,
    #20b2aa
  ) !important;
  /*   color: white;
 */
  font-weight: bold;
  cursor: pointer;
}
.entry-form input[type="button"].saveBtn:hover {
  background: linear-gradient(
    135deg,
    #c4c4c4,
    #747474
  ) !important;
}
